@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010202;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010202;
    --foreground: #ededed;
  }
}

html {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #362b56e4;
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #2d2447e4;
}

.overflow{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.overflow::-webkit-scrollbar {
  width: 10px;height: 10px;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: #362b56e4;
  border-radius: 6px;height: 10px;
}

.overflow::-webkit-scrollbar-thumb:hover {
  background-color: #2d2447e4;
}
@media(min-width:2500px){
  .limit{ 
    margin:auto;
    width:1800px;
  }
}

 .no-break {
   white-space: nowrap; 
 }

 .backgroundImage{
  background-image: url('../../public/image.png');
background-position: center;
background-repeat: no-repeat;
backdrop-filter: initial;
object-fit: cover;
background-size: cover;
border-radius: 12px;
 }
.title {  
  text-align: center;  
  font-size: 3em;  
  color: #8e44ad;  
}  

.matter-box {  
  position: relative; /* Permite que os filhos sejam posicionados */  
  width: 100vw;  
  height: 100vh;  
  background-color: #f0f0f0; /* Cor de fundo */  
  overflow: hidden;  
}  

.skill {  
  position: absolute; /* Permite o posicionamento absoluto */  
  width: 80px;  
  height: 40px;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  background-color: #8e44ad; /* Cor de fundo das habilidades */  
  color: white;  
  border-radius: 8px;  
  cursor: grab;  
  text-align: center;  
  font-size: 1em;  
}

/* Hiding scrollbars on webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
