@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010202;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010202;
    --foreground: #ededed;
  }
}

html {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #362b56e4;
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #2d2447e4;
}

.overflow{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.overflow::-webkit-scrollbar {
  width: 10px;height: 10px;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: #362b56e4;
  border-radius: 6px;height: 10px;
}

.overflow::-webkit-scrollbar-thumb:hover {
  background-color: #2d2447e4;
}
@media(min-width:2500px){
  .limit{ 
    margin:auto;
    width:1800px;
  }
}

 .no-break {
   white-space: nowrap; 
 }

 .backgroundImage{
  background-image: url('../../public/image.png');
background-position: center;
background-repeat: no-repeat;
backdrop-filter: initial;
object-fit: cover;
background-size: cover;
border-radius: 12px;
 }